# The base path of Dex and the external name of the OpenID Connect service.
# This is the canonical URL that all clients MUST use to refer to Dex. If a
# path is provided, Dex's HTTP service will listen at a non-root URL.
issuer: https://{{ getenv "APP_NAME" "dex" }}.{{ getenv "BASE_DOMAIN" "localhost" }}/dex

# The storage configuration determines where Dex stores its state.
# Supported options include:
#   - SQL flavors
#   - key-value stores (eg. etcd)
#   - Kubernetes Custom Resources
#
# See the documentation (https://dexidp.io/docs/storage/) for further information.
storage:
  # type: memory

  type: sqlite3
  config:
    file: /data/dex.db

  # type: mysql
  # config:
  #   host: 127.0.0.1
  #   port: 3306
  #   database: dex
  #   user: mysql
  #   password: mysql
  #   ssl:
  #     mode: "false"

  # type: postgres
  # config:
  #   host: 127.0.0.1
  #   port: 5432
  #   database: dex
  #   user: postgres
  #   password: postgres
  #   ssl:
  #     mode: disable

  # type: etcd
  # config:
  #   endpoints:
  #     - http://127.0.0.1:2379
  #   namespace: dex/

  # type: kubernetes
  # config:
  #   kubeConfigFile: $HOME/.kube/config

# HTTP service configuration
web:
  http: 127.0.0.1:5556

  # Uncomment to enable HTTPS endpoint.
  # https: 127.0.0.1:5554
  # tlsCert: /etc/dex/tls.crt
  # tlsKey: /etc/dex/tls.key
  # tlsMinVersion: 1.2
  # tlsMaxVersion: 1.3

# Dex UI configuration
# frontend:
#   issuer: dex
#   logoURL: theme/logo.png
#   dir: ""
#   theme: light

# Telemetry configuration
# telemetry:
#   http: 127.0.0.1:5558

# Logger configuration
# Log format can be one of: text, json
logger:
  level: {{ getenv "LOG_LEVEL" "info" }}
  format: {{ getenv "LOG_FORMAT" "text" }}

# gRPC API configuration
# Uncomment this block to enable the gRPC API.
# See the documentation (https://dexidp.io/docs/api/) for further information.
# grpc:
#   addr: 127.0.0.1:5557
#   tlsCert: examples/grpc-client/server.crt
#   tlsKey: examples/grpc-client/server.key
#   tlsClientCA: examples/grpc-client/ca.crt

# Expiration configuration for tokens, signing keys, etc.
# expiry:
#   deviceRequests: "5m"
#   signingKeys: "6h"
#   idTokens: "24h"
#   refreshTokens:
#     disableRotation: false
#     reuseInterval: "3s"
#     validIfNotUsedFor: "2160h" # 90 days
#     absoluteLifetime: "3960h" # 165 days

# OAuth2 configuration
# oauth2:
#   # use ["code", "token", "id_token"] to enable implicit flow for web-only clients
#   responseTypes: [ "code" ] # also allowed are "token" and "id_token"
#
#   # By default, Dex will ask for approval to share data with application
#   # (approval for sharing data from connected IdP to Dex is separate process on IdP)
#   skipApprovalScreen: false
#
#   # If only one authentication method is enabled, the default behavior is to
#   # go directly to it. For connected IdPs, this redirects the browser away
#   # from application to upstream provider such as the Google login page
#   alwaysShowLoginScreen: false
#
#   # Uncomment to use a specific connector for password grants
#   passwordConnector: local

# Static clients registered in Dex by default.
#
# Alternatively, clients may be added through the gRPC API.
# staticClients:
#   - id: example-app
#     redirectURIs:
#       - 'http://127.0.0.1:5555/callback'
#     name: 'Example App'
#     secret: ZXhhbXBsZS1hcHAtc2VjcmV0

# Connectors are used to authenticate users against upstream identity providers.
#
# See the documentation (https://dexidp.io/docs/connectors/) for further information.
connectors:
  - type: github
    id: github
    name: GitHub
    config:
      clientID: {{ getenv "GITHUB_CLIENT_ID" "" }}
      clientSecret: {{ getenv "GITHUB_CLIENT_SECRET" "" }}
      redirectURI: https://{{ getenv "APP_NAME" "dex" }}.{{ getenv "BASE_DOMAIN" "localhost" }}/dex/callback
  - type: github
    # Required field for connector id.
    id: github-private
    # Required field for connector name.
    name: GitHub Org
    config:
      # Credentials can be string literals or pulled from the environment.
      clientID: {{ getenv "GITHUB_CLIENT_ID" "" }}
      clientSecret: {{ getenv "GITHUB_CLIENT_SECRET" "" }}
      redirectURI: https://{{ getenv "APP_NAME" "dex" }}.{{ getenv "BASE_DOMAIN" "localhost" }}/dex/callback

      # Legacy 'org' field.
      #  - A user MUST be a member of the following org to authenticate with dex.
      #  - Both 'org' and 'orgs' can NOT be used simultaneously.
      #org: my-organization

      # List of org and team names.
      #  - If specified, a user MUST be a member of at least ONE of these orgs
      #    and teams (if set) to authenticate with dex.
      #  - Dex queries the following organizations for group information if the
      #    "groups" scope is requested. Group claims are formatted as "(org):(team)".
      #    For example if a user is part of the "engineering" team of the "coreos" org,
      #    the group claim would include "coreos:engineering".
      #  - If teams are specified, dex only returns group claims for those teams.
      orgs:
      - name: {{ getenv "GITHUB_ORG" "github" }}
      {{- if getenv "GITHUB_ORG_2" }}
      - name: {{ .Env.GITHUB_ORG_2 }}
      {{- end }}
      {{- if getenv "GITHUB_ORG_3" }}
      - name: {{ .Env.GITHUB_ORG_3 }}
      {{- end }}
      # - name: my-organization-with-teams
      #   teams:
      #   - red-team
      #   - blue-team

      # Flag which indicates that all the user's orgs and teams should be loaded.
      # Only works if neither 'org' nor 'orgs' are specified in the config.
      loadAllGroups: false

      # How the team names are formatted.
      #  - Options: 'name' (default), 'slug', 'both'.
      #  - Examples:
      #    - 'name': 'acme:Site Reliability Engineers'
      #    - 'slug': 'acme:site-reliability-engineers'
      #    - 'both': 'acme:Site Reliability Engineers', 'acme:site-reliability-engineers'
      teamNameField: slug

      # Flag which will switch from using the internal GitHub id to the users handle (@mention) as the user id.
      # It is possible for a user to change their own username, but it is very rare for them to do so
      useLoginAsID: false

      # A preferred email domain to use when returning the user's email.
      #  - If the user has a PUBLIC email, it is ALWAYS returned in the email claim,
      #    so this field would have NO effect (this may change in the future).
      #  - By default, if the user does NOT have a public email, their primary email is returned.
      #  - When 'preferredEmailDomain' is set, the first email matching this domain is returned,
      #    we fall back to the primary email if no match is found.
      #  - To allow multiple subdomains, you may specify a wildcard like "*.example.com"
      #    which will match "aaaa.example.com" and "bbbb.example.com", but NOT "example.com".
      #  - To return the user's no-reply email, set this field to "users.noreply.github.com",
      #    this is a mostly static email that GitHub assigns to the user. These emails
      #    are formatted like 'ID+USERNAME@users.noreply.github.com' for newer accounts
      #    and 'USERNAME@users.noreply.github.com' for older accounts.
      #preferredEmailDomain: "example.com"

# Enable the password database.
#
# It's a "virtual" connector (identity provider) that stores
# login credentials in Dex's store.
enablePasswordDB: true

# If this option isn't chosen users may be added through the gRPC API.
# A static list of passwords for the password connector.
#
# Alternatively, passwords my be added/updated through the gRPC API.
# staticPasswords: []
